/*** ===================================================================================== ***/
/*** YOUR REPORT STYLE GOES HERE ***/
/*** ===================================================================================== ***/
.widgets-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}
.widget {
	border: 2px solid #007BFF;
	border-radius: 0px;
	padding: 20px;
	text-align: center;
	background-color: #f9f9f9;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.widget.full-width {
	width: 100%;
}
.widget.half-width {
    width: calc(50% - 10px); /* Adjusted for the gap */
}
button {
	margin: 10px 0;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.save-btn {
	background-color: #28a745;
	color: white;
}
.fetch-btn {
	background-color: #007BFF;
	color: white;
}
.output {
	margin-top: 10px;
	font-size: 14px;
	color: #333;
}