#cda-btn-lake-shef {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em; /* optional spacing below */
    text-align: center;
}

#refresh-lake-shef-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em; /* optional spacing below */
    text-align: center;
}