#project-logs {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#project-logs th,
#project-logs td {
    padding: 2px;
    text-align: center;
    border: 1px solid #ddd;
}

#project-logs th {
    background-color: darkblue;
    font-weight: bold;
}

#project-logs input {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

#project-logs tr:nth-child(even) {
    background-color: #f9f9f9;
}

#project-logs tr:hover {
    background-color: #f1f1f1;
}

#project-logs td {
    text-align: center;
}

#project-logs td a {
    color: darkblue;
    text-decoration: none;
}

#project-logs td a:hover {
    text-decoration: underline;
}

#project-logs caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}